PORT=3000
PYTHON_API_URL=http://localhost:8000/api/v1
STELEAR_HORIZON_URL=https://horizon.stellar.org
STELEAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
SOROBAN_CONTRACT_ID=
JWT_SECRET=changeme
